body {
    min-width: 300px;
	background-color: #fff;
	margin: 0;
	font-size: 1em;
}

body > section, body > footer {
	padding: 15px;
}

p {
	margin: 0.25rem 0 0.5rem;
    font-size: 75%;
    text-align: center;
}

p:last-child {
	margin-bottom: 0;
}

section {
	border-bottom: 1px solid #ccc;
}

h3 {
	color: #1573d4;
	font-weight: bold;
	margin: 0;
	font-size: 1.1em;
    text-align: center;
} 

.foe-link {
	color: #007bff;
	cursor:grab;
}

footer {
	background-color: #eee;
	font-size: 90%;
	text-align: center;

}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
  }
  
  .switch input {
	display: none;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
  }
  
  /* Add these styles to your existing popup.css */

.top-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  h3 {
	margin: 0; /* Remove default margin for the heading */
  }
  
  .switch {
	margin-left: 43%; /* Add some spacing between the heading and the slider */
  }

  /* Add these styles to your existing popup.css */

.foe-link {
	color: #007bff;
	text-decoration: none; /* Remove default underline */
  }
  
  .foe-link:hover {
	text-decoration: underline; /* Add underline on hover */
  }
  